
:root {
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-size: 30px;

  height: 200vh;
}

h1 {
  font-weight: 700;
}

p {
  margin: 1em 0;
}

.content {
  margin-top: 90px;
  padding: 20px;
}

.navigation {
  background-color: rgb(197, 194, 194);
  padding: 30px;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;

  -webkit-box-shadow: 0px 9px 27px -3px #000000; 
  box-shadow: 0px 9px 27px -3px #000000 inset;
}

.nav-item {
  display: inline-block;
  list-style: square;

  background-color: lemonchiffon;

  text-transform: lowercase;
}

.nav-item::first-letter {
  text-transform: capitalize;
}

.parag::first-letter {
  color: red;
  font-size: 3em;
}

.parag::first-line {
  background-color: lightpink;
}

.parag {
  position: relative;
  border: 1px solid black;
}

.parag::selection {
  color: blue;
  background-color: rgb(192, 226, 43);
}

.parag::before {
  display: block;
  content: '<<';
  background-color: coral;
  color: blue;
  
  position: absolute;
  bottom: 100%;
  right: 100%;
}

.parag::after {
  content: '>>';
  background-color: coral;
  color: blue;

  position: absolute;
  top: 100%;
  left: 100%;
}
